/* MAIN CSS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");

.container {
  padding: 75px;
  max-width: 1500px;
}

section.scoreboard-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #202020;
}

section.scoreboard-area img {
  width: 100px;
  max-width: 100%;
}

/* FLAGS */
section.scoreboard-area .current-country-flag-blue {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  padding-left: 0;
}

section.scoreboard-area .current-country-flag-red {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
  padding-right: 0;
}

/* NAMES */
section.scoreboard-area .current-name-blue p {
  font-size: 50px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

section.scoreboard-area .current-name-red p {
  font-size: 50px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* TIMER AND ROUNDS */
section.scoreboard-area .current-timer-and-rounds {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
  text-align: center;
}

section.scoreboard-area .current-timer-and-rounds p.timer {
  font-size: 75px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

section.scoreboard-area .current-timer-and-rounds p.rounds {
  font-size: 35px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin-top: -25px;
}

/* SCORES */
section.scoreboard-area .scores {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section.scoreboard-area .current-score-blue {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
  background: #1a03b2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  /* IE6-9 */
}

section.scoreboard-area .current-score-red {
  background: #a90329;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  /* IE6-9 */
}

section.scoreboard-area .current-score-blue p {
  font-size: 175px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

section.scoreboard-area .current-score-red p {
  font-size: 175px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

/* BUTTONS */
section.scoreboard-area .buttons-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 35px;
  padding-left: 0;
}

section.scoreboard-area .buttons-blue:hover {
  cursor: pointer;
}

section.scoreboard-area .buttons-red:hover {
  cursor: pointer;
}

section.scoreboard-area .buttons-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 35px;
  padding-right: 0;
}

/* section.scoreboard-area .body-regular-kick-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  margin-right: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .body-regular-kick-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .body-turning-kick-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  margin-right: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .body-turning-kick-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .head-regular-kick-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  margin-right: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .head-regular-kick-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .head-turning-kick-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  margin-right: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .head-turning-kick-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
} */

section.scoreboard-area .technical-point-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  margin-right: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .technical-point-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 18px;
}

section.scoreboard-area .penalty-blue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #1a03b2;
  background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  background: -webkit-linear-gradient(
    top,
    #1a03b2 0%,
    #0442c9 44%,
    #003bdd 100%
  );
  background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .penalty-blue p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 18px;
}

/* section.scoreboard-area .body-regular-kick-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .body-regular-kick-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .body-turning-kick-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  margin-left: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .body-turning-kick-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .head-regular-kick-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  margin-left: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .head-regular-kick-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .head-turning-kick-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  margin-left: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .head-turning-kick-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
} */

section.scoreboard-area .technical-point-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  margin-left: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .technical-point-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 18px;
}

section.scoreboard-area .penalty-red {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  background: #a90329;
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(
    top,
    #a90329 0%,
    #8f0222 44%,
    #6d0019 100%
  );
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
  margin-left: 3px;
  border: 1px solid #ffffff;
  max-width: 150px;
}

section.scoreboard-area .penalty-red p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 18px;
}

.fa-arrow-up-long {
  font-size: 20px;
}
.fa-arrow-down-long {
  font-size: 20px;
}

section.scoreboard-area .start-and-stop-time-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 35px;
  max-width: 325px;
  margin: 0 auto;
  padding-top: 35px;
}

section.scoreboard-area .start-time {
  background-color: #28a745;
  border: 1px solid #28a745;
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section.scoreboard-area .stop-time {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  max-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section.scoreboard-area .start-time p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .stop-time p {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-top: 18px;
}

section.scoreboard-area .settings-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

section.scoreboard-area .settings-icon .fa-gear {
  color: #ffffff;
  font-size: 40px;
  margin-top: 35px;
}

/* MODAL */

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 550px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #fff;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myBtn:hover {
  cursor: pointer;
}

section.scoreboard-area .buttons-modal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.btn.btn-secondary {
  margin-right: 10px;
}

.btn.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

section.scoreboard-area p#adjust-time:hover {
  cursor: pointer;
  font-weight: 500;
}

section.scoreboard-area p#change-round-number:hover {
  cursor: pointer;
  font-weight: 500;
}

section.scoreboard-area p#blue-name-input:hover {
  cursor: pointer;
  font-weight: 500;
}

section.scoreboard-area p#red-name-input:hover {
  cursor: pointer;
  font-weight: 500;
}

section.scoreboard-area p#reset-system:hover {
  cursor: pointer;
  font-weight: 500;
}
