/* MAIN CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

.container {
    padding: 75px;
    max-width: 2000px;
}

section.scoreboard-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #202020
}

section.scoreboard-area img {
    width: 300px;
    max-width: 100%;
}

/* FLAGS */
section.scoreboard-area .current-country-flag-blue {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    padding-left: 0;
}

section.scoreboard-area .current-country-flag-red {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    padding-right: 0;
}

section.scoreboard-area .current-name-blue p {
    font-size: 75px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

section.scoreboard-area .current-name-red p {
    font-size: 75px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* TIMER AND ROUNDS */
section.scoreboard-area .current-timer-and-rounds {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    text-align: center;
}

section.scoreboard-area .current-timer-and-rounds p.timer {
    font-size: 125px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

section.scoreboard-area .current-timer-and-rounds p.rounds {
    font-size: 75px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: -25px;
}

/* SCORES */
section.scoreboard-area .scores {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section.scoreboard-area .current-score-blue {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */

}

section.scoreboard-area .current-score-red {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */

}

section.scoreboard-area .current-score-blue p {
    font-size: 400px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

section.scoreboard-area .current-score-red p {
    font-size: 400px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* BUTTONS */
section.scoreboard-area .buttons-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    margin-top: 35px;
    padding-left: 0;
}

section.scoreboard-area .buttons-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    margin-top: 35px;
    padding-right: 0;
}

section.scoreboard-area .body-regular-kick-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    margin-right: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .body-regular-kick-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .body-turning-kick-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    margin-right: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .body-turning-kick-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .head-regular-kick-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    margin-right: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .head-regular-kick-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .head-turning-kick-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    margin-right: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .head-turning-kick-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .technical-point-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    margin-right: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .technical-point-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .penalty-blue {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1a03b2+0,0442c9+44,003bdd+100 */
    background: #1a03b2;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1a03b2 0%, #0442c9 44%, #003bdd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a03b2', endColorstr='#003bdd', GradientType=0);
    /* IE6-9 */
    border: 1px solid #FFFFFF;
    max-width: 150px;
}

section.scoreboard-area .penalty-blue p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .body-regular-kick-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .body-regular-kick-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .body-turning-kick-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    margin-left: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .body-turning-kick-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .head-regular-kick-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    margin-left: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .head-regular-kick-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .head-turning-kick-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    margin-left: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .head-turning-kick-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .technical-point-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    margin-left: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .technical-point-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}

section.scoreboard-area .penalty-red {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
    margin-left: 3px;
    border: 1px solid #FFFFFF;
    max-width: 150px;

}

section.scoreboard-area .penalty-red p {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 18px;
}